@model Foillan.Models.Occurrence.Sighting
@{
    ViewBag.Title = "Sighting";
}
<div class="row">
    <div class="col-md-12">
        <h2>Submit a Sighting</h2>
    </div>
    @using (Html.BeginForm())
    {
        <div class="col-md-6">
            @Html.ValidationSummary()
            @Html.HiddenFor(m => m.Id)
            @Html.LabelFor(m => m.TaxonId)
            @Html.EditorFor(m => m.TaxonId)
            @Html.LabelFor(m => m.SpottedBy)
            @Html.EditorFor(m => m.SpottedBy)
        </div>
        <div class="col-md-6">
            @Html.LabelFor(m => m.Location)
            @Html.EditorFor(m => m.Location)
        </div>
        <div class="col-md-12">
            <input type="submit" value="Submit your sighting" />
        </div>
    }
</div>