@model Foillan.WebUI.Areas.BackOffice.Models.ExplorerViewModel

@{
    ViewBag.Title = "Explorer";
}

<h2>Taxon Database</h2>
<p>Welcome to the taxon database. Here you can view all taxa within Foillan.</p>
<a href="@Url.Action("AddSpecies")" class="btn">Add New Species</a>
<a href="@Url.Action("AddSpeciesBatch")" class="btn">Add Species using Existing Dataset</a>

<table class="table">
    <thead>
        <tr>
            <td>Foillan ID</td>
            <td>Global ID</td>
            <td>Latin Name</td>
            <td>Rank</td>
            <td>Description</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var taxon in Model.Species)
        {
            <tr>
                <td>@taxon.Id</td>
                <td>@taxon.GbifTaxonId</td>
                <td>@taxon.LatinName</td>
                <td>@taxon.Rank</td>
                <td>@taxon.Description</td>
            </tr>
        }
    </tbody>
</table>